{% extends "base.html" %}

{% block content %}
<style>
    .product-card h3{
        color:#e03c31
    }
</style>
    <section id="members">
        <h2>Business Directory</h2>
        <p>
            As a member of the New Christian Order Business Club, you receive discounts when purchasing from members, access to 
            opportunities for interest-free loans through our Catholic Banking partners, and access to expert-led seminars and networking events.  
        </p>
        
        <!-- Internet & Technology -->
        <section class="team-section">
            <h3>Internet & Technology</h3>
            <div class="product-container">
                <!-- Member Card 1 -->
                <div class="product-card">
                    <img src="{{ url_for('static', filename='thethinkingcomputer.png') }}" height="40%" width="auto"alt="The Thinking Computer">
                    <h3>The Thinking Computer</h3>
                    <p>Online Marketing and Technology Consulting</p>
                    <p>Owners: Benjamin Palaskas & Samuel Vierling</p>
                    <div class="social-links">
                        <a href="https://instagram.com/thethinkingcomputer"><i class="fab fa-instagram"></i></a>
                        <a href="https://thethinkingcomputer.com"><i class="fa fa-globe"></i></a>
                    </div>
                    <p><hr>
                        <br></p>
                </div>

                <!-- Member Card 2 -->
                <div class="product-card">
                    <img src="{{ url_for('static', filename='technologyforfamilies.jpg') }}" alt="Technology for Families">
                    <h3>Technology for Families</h3>
                    <p>Tech consulting for a biblical internet in the home</p>
                    <p>Owner: Walter Rice</p>
                    <div class="social-links">
                        <a href="https://technologyforfamilies.org/"><i class="fa fa-globe"></i></a>
                    </div>
                    <p><hr>
                    <br></p>
                </div>

                <!-- Member Card 3 -->
                <div class="product-card">
                    <img src="{{ url_for('static', filename='harrisfcs.png') }}" alt="Harris Family Computer Services">
                    <h3>Harris Family Computer Services</h3>
                    <p>Manufacturer Service Provider for Starlink, IT work</p>
                    <div class="social-links">
                        <a href="https://www.facebook.com/Harrisfcs"><i class="fab fa-facebook-f"></i></a>
                    </div>
                    <p><hr>
                        <br></p>
                </div>
            </div>
        </section>

        <!-- Media -->
        <section class="team-section">
            <h3>Art and Media</h3>
            <div class="product-container">
                <!-- Member Card 4 -->
                <div class="product-card">
                    <img src="{{ url_for('static', filename='media1.jpg') }}" alt="The French Club">
                    <h3>The French Club</h3>
                    <p>Filmmaking and Art Collective</p>
                    <p>Owner: Bleau Jackson</p>
                    <div class="social-links">
                        <a href="https://www.instagram.com/realfrenchclub/"><i class="fab fa-instagram"></i></a>
                    </div>
                    <p><hr>
                        <br></p>
                </div>
                <div class="product-card">
                    <img src="{{ url_for('static', filename='loveamerica.webp') }}" alt="The French Club">
                    <h3>Love, America</h3>
                    <p>LA-based Clothing Brand and Art Collective</p>
                    <p>Owner: Van the Man</p>
                    <div class="social-links">
                        <a href="https://www.instagram.com/loveamericaloveamerica/"><i class="fab fa-instagram"></i></a>
                    </div>
                    <p><hr>
                        <br></p>
                </div>
            </div>
        </section>

        <!-- Esthetics -->
        <section class="team-section">
            <h3>Esthetics</h3>
            <div class="product-container">
                <!-- Member Card 5 -->
                <div class="product-card">
                    <img src="{{ url_for('static', filename='esthetics1.jpg') }}" alt="Barber Life">
                    <h3>Barber Life</h3>
                    <p>Barbershop in Wilkes-barre PA</p>
                    <p>Owner: Donnell Jackson</p>
                    <div class="social-links">
                        <!-- No social links for this member -->
                    </div>
                    <p><hr>
                        <br></p>
                </div>
            </div>
        </section>
    </section>
    <p><br></p>
    <section>
    <div class="general-container">
        <a href="{{url_for('main.store')}}"><button>Support NCO by visiting our store</button></a>
    </div>
</section>
    <p><br></p>

{% endblock %}